name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 14, 16, 18, 19]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm ci
        npm run build --if-present
        npm test
      env:
        CI: true

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Setup JFrog CLI
      uses: jfrog/setup-jfrog-cli@v1.2.0
      env:
        JF_ARTIFACTORY_SERVER: ${{ secrets.JF_ARTIFACTORY_SERVER_1 }}
    - name: Install npm-force-resolutions
      run: npm install -g npm-force-resolutions
    - name: Collect Environment Variables
      run: jfrog rt bce adzerk-decision-sdk-js ${GITHUB_REF##*/}
    - name: Install Dependencies
      run: jfrog rt npmci npm
    - name: Build Package
      run: npm run build --if-present
    - name: Tag Version
      run: npm --no-git-tag-version version prerelease --preid=${GITHUB_REF##*/}
    - name: Publish to Artifactory
      run: jfrog rt npmp npm
      env:
        CI_USERNAME_PASSWORD: ${{secrets.ci_username_password}}
        CI: true
